option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: '30'
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeType
    value: gp3

files:
  "/etc/pip.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [global]
      cache-dir = /var/app/pip-cache
      build = /var/app/pip-build

container_commands:
  01_create_pip_dirs:
    command: "mkdir -p /var/app/pip-cache /var/app/pip-build"
  02_change_ownership:
    command: "chown -R webapp:webapp /var/app/pip-cache /var/app/pip-build"