files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50_make_tmp_dir.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ ! -d /var/app/tmp ]; then
        mkdir -p /var/app/tmp
        chown webapp:webapp /var/app/tmp
      fi
commands:
  01_set_pip_tmp_dir:
    command: "echo 'export TMPDIR=/var/app/tmp' > /etc/profile.d/set_tmpdir.sh && chmod +x /etc/profile.d/set_tmpdir.sh"